# Node
**/node_modules/
npm-debug.log
yarn-error.log
**/.next/
**/out/
**/build/
**/dist/

# Go
**/bin/
**/tmp/
**/vendor/

# IDE & OS
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/.DS_Store
**/Thumbs.db

# Git
**/.git/
**/.gitignore

# Docker
**/Dockerfile
**/docker-compose.yml
**/.dockerignore

# Misc
.env
.env.local
.env.production
*.md
LICENSE
