# Binaries
bin/
tmp/
public/uploads/
scripts/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Test
coverage.out
coverage.html

# Build
*.exe
*.exe~
*.dll
*.so
*.dylib
